<h1><%= @games.players[0].name %></h1>



    <div id='board'>
        <!-- Top Row -->
        <div>
            <span class='place'><%= @games.squares[0].name %></span>
           <span class='price'>&nbsp;</span>
       </div>
       <div>
           <span class='place'><%= @games.squares[1].name %></span>
           <span class='price'><%= @games.squares[1].dev_time %> Hours</span>
       </div>
       <div>
           <span class='place'><%= @games.squares[2].name %></span>
           <span class='price'><%= @games.squares[2].dev_time %> Hours</span>
       </div>
       <div>
           <span class='place'><%= @games.squares[3].name %></span>
           <span class='price'><%= @games.squares[3].dev_time %> Hours</span>
       </div>


       <!-- 1st middle Row -->
       <div>
           <span class='place'><%= @games.squares[11].name %></span>
           <span class='price'><%= @games.squares[11].dev_time %> Hours</span>
       </div>
       <div class='player-overview player1'>
           <span class='player'><%= @games.players[0].name %></span>
           <span class='money'><%= @games.players[0].time %></span>
       </div>
       <div class='player-overview player2'>
           <span class='player'><%= @games.players[1].name %></span>
           <span class='money'><%= @games.players[1].time %></span>
       </div>
       <div>
           <span class='place'><%= @games.squares[4].name %></span>
           <span class='price'><%= @games.squares[4].dev_time %> Hours</span>
       </div>

       <!-- 2nd middle Row -->
       <div>
           <span class='place'><%= @games.squares[10].name %></span>
           <span class='price'><%= @games.squares[10].dev_time %> Hours</span>
       </div>
       <div class='player-overview player3'>
           <span class='player'><%= @games.players[2].name %></span>
           <span class='money'><%= @games.players[2].time %></span>
       </div>
       <div class='player-overview player4'>
           <span class='player'><%= @games.players[3].name %></span>
           <span class='money'><%= @games.players[3].time %></span>
       </div>
       <div>
           <span class='place'><%= @games.squares[5].name %></span>
           <span class='price'><%= @games.squares[5].dev_time %> Hours</span>
       </div>

       <!-- Bottom Row -->
       <div>
           <span class='place'><%= @games.squares[9].name %></span>
           <span class='price'><%= @games.squares[9].dev_time %> Hours</span>
       </div>
       <div>
           <span class='place'><%= @games.squares[8].name %></span>
           <span class='price'><%= @games.squares[8].dev_time %> Hours</span>
       </div>
       <div>
           <span class='place'><%= @games.squares[7].name %></span>
           <span class='price'><%= @games.squares[7].dev_time %> Hours</span>
       </div>
       <div>
           <span class='place'><%= @games.squares[5].name %></span>
           <span class='price'><%= @games.squares[5].dev_time %> Hours</span>
       </div>





    </div>
